body {
	color: white;
	background-color: black;
}

.intro {
	width: 50%;
	font-style: italic;
}

.author {
	width: 75%;
	font-style: italic;
	font-weight: bold;
}

.column {
	float: left;
	width: 300px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
  padding-left: 10px;
	padding-right: 10px;

}

.sidebar {
	float: right;
	background-color: black;
	border: 2px solid blue;
	color: blue;
	width: 120px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 20px;
  padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
}

.seetherPic {
	width:25%;
}

.sidebar u h2{
	font-size: 32px;
	padding-right: 35px;
	color:white;
}
