.Picture {
	float: left;
	display: inline-block;
}

.titleBar {
background-color: blue;
color:white;
width:100%;
float:left;
}

.contact {
	color: white;
	float: right;

}

.important {
	width: 100%;
	background-color: blue;

}
