h1 {
	color: #0000ff;
}

.block {
	text-align: center;
	width: 500px;
	padding-left: 50px;
	padding-right: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
}

h2 {
	font-style: italic;
	text-align: center;
}

.Quote {
	text-align: center;
}

h1 {
	text-align: center;
}

p {
	font-family: sans-serif;
}

ul {
	font-size: 20px;
	line-height: 30px;
}

.wholeBody {
}

.row {
	background-color: green;
	width:300px;
	border-radius: 10px;
	border-color: black;
	padding:5px;
}
